run `mkdir /home/pi/.emf`
set up shared keys with mscroggs.co.uk
add mscroggs.co.uk to .ssh/config. Name it mscroggs
set cron jobs to run the files in here
put config.py with Twitter API keys on Pi
pull KLBFAX and run with option EMF=1
sort out force VGA stuff
